
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&display=swap');

*,
*::before,
*::after { box-sizing: border-box; }

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto Mono', monospace;
  min-height: 100vh;
  background: linear-gradient(to bottom,  #87cefa, #e0e0e0);
  display: flex;
  flex-direction: column;
  color: #333;
  overflow-x: hidden;
  background-attachment: fixed;
  padding-top: 70px;
}
